<%-include('include/_header')%>
<form action="" method="POST">
    <button><a href="/add-user">Add new user</a></button>   
        <table class="table">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Change Details</th>
                <th>Terminate Details</th>
            </tr>
            <tbody>
             
            <%-include('include/_show')%>
            </tbody>
        </table>
 </form> 
<%-include('include/_footer')%>