<style>
    .pagination {
  display: inline-block;
  margin-left: 955px;
  margin-top: 36px;

}

.pagination a {
  color: black;

  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: black;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">&raquo;</a>
</div>
</body>
</html>